# **********************************************************************
# $Id: cosmics_run.config 786895 2016-11-28 13:55:42Z wengler $
# **********************************************************************

############################################################
# CTP
############################################################

#############
# Output
#############

output top_level {
  output CentralTrigger {
    output ErrorSummary {
    }
    output CTP {
    }
    output MuCTPI {
      output Cand {
      }
      output Mult {
      }
      output Timing {
      }
      output TOB {
      }
    }
    output MuCTPI-SL {
    }
    output CTP-MuCTPI {
    }
    output RoI {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir CT {
  algorithm = CTP_GatherData

  output = CentralTrigger/ErrorSummary
  hist errorSummary {
    display = LogY,AxisRange(1e-12,10,"Y")
    algorithm = errorSummary_Entries
  }
  hist errorPerLumiBlock {
    display = LogY,AxisRange(0.1,1e+11,"Y")
  }
  hist errorSummaryPerLumiBlock {
    display = SetPalette(1)
  }
  hist incompleteFragmentType {
  }
  dir CTP {
    output = CentralTrigger/CTP
    hist deltaBcid {
      display = LogY
    }
    hist triggerType {
    }
    hist timeSinceLBStart {
    }
    hist timeUntilLBEnd {
    }
    hist timeSinceL1A {
      display = LogY
    }
    hist turnCounterTimeError {
      display = LogY
    }
    hist pitBC {
      display = SetPalette(1)
    }
    hist pitFirstBC {
      display = SetPalette(1)
    }
    hist tav {
    }
    hist ctpStatus1 {
    }
    hist ctpStatus2 {
    }
    hist turnCounterTimeErrorVsLb {
    }
    hist l1ItemsBPSimMismatchItems {
    }
  }
  dir MUCTPI {
    output = CentralTrigger/MuCTPI
    hist errorSummaryMUCTPI {
    }
    hist errorSummaryPerLumiBlockMUCTPI {
    }
    dir Mult {
      output = CentralTrigger/MuCTPI/Mult
      hist mult {
      }
      hist multPerLB {
      }
    }
    dir Cand {
      output = CentralTrigger/MuCTPI/Cand
      hist candPtBA {
      }
      hist candPtEC {
      }
      hist candPtFW {
      }
      hist candRoiVsSLBACentralSlice {
      }
      hist candRoiVsSLECCentralSlice {
      }
      hist candRoiVsSLFWCentralSlice {
      }
      hist candRoiVsSLBAOtherSlice {
      }
      hist candRoiVsSLECOtherSlice {
      }
      hist candRoiVsSLFWOtherSlice {
      }
      hist candCandFlagssVsSLBACentralSlice {
      }
      hist candCandFlagssVsSLECCentralSlice {
      }
      hist candCandFlagssVsSLFWCentralSlice {
      }
      hist candErrorflagVsSLBAOtherSlicePerLB {
      }
      hist candErrorflagVsSLECOtherSlicePerLB {
      }
      hist candErrorflagVsSLFWOtherSlicePerLB {
      }
    }
    dir TOB {
      output = CentralTrigger/MuCTPI/TOB
      hist tobEtaPhiA {
      }
      hist tobEtaPhiA_GoodMF {
      }
      hist tobEtaPhiA_InnerCoin {
      }
      hist tobEtaPhiA_BW23 {
      }
      hist tobEtaPhiA_Charge {
      }
      hist tobEtaPhiC {
      }
      hist tobEtaPhiC_GoodMF {
      }
      hist tobEtaPhiC_InnerCoin {
      }
      hist tobEtaPhiC_BW23 {
      }
      hist tobEtaPhiC_Charge {
      }
      hist tobPtVsEtaA {
      }
      hist tobPtVsPhiA {
      }
      hist tobPtVsEtaC {
      }
      hist tobPtVsPhiC {
      }
    }
    dir Timing {
      output = CentralTrigger/MuCTPI/Timing
      hist candSliceVsSLBA {
      }
      hist candSliceVsSLEC {
      }
      hist candSliceVsSLFW {
      }
    }
  }
  dir CTPMUCTPI {
    output = CentralTrigger/CTP-MuCTPI
    hist bcidDifference {
      display = LogY
    }
    hist headerBCIDDifference {
      display = LogY
    }
    hist headerL1IdDifference {
      display = LogY
    }
  }
  dir ROI {
    output = CentralTrigger/RoI
    hist roiEtaPhi {
      display = SetPalette(1)
    }
    hist roiEta {
    }
    hist roiPhi {
    }
    hist barrelSectorIDRoi {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoi {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoi {
      display = SetPalette(1)
    }
    hist barrelSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist barrelSectorIDRoiPhi {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoiPhi {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoiPhi {
      display = SetPalette(1)
    }
  }
}

#############
# Algorithms
#############

algorithm CTP_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

algorithm errorSummary_Entries {
  libname = libdqm_algorithms.so
  name = Bins_NotEqual_Threshold
  BinThreshold = 0.
  thresholds = errorSummary_Thresholds
}

#############
# Thresholds
#############

thresholds errorSummary_Thresholds {
  limits NBins {
    warning = 0
    error = 1
  }
}


