# Copyright (C) 2002-2022 CERN for the benefit of the ATLAS collaboration
#
# Configuration file for the checkergcc plugins.
#    see https://gitlab.cern.ch/atlas/atlasexternals/tree/master/External/CheckerGccPlugins
#
# This file contains the checkergcc settings applicable to regular builds applied on top of
# the checkergcc-base.config file. 
#

[thread.check_paths]
AsgExternal
AtlasGeometryCommon
AtlasTest
Calorimeter
Commission
Database
DataQuality
DetectorDescription
Event
External
-External/CheckerGccPlugins
ForwardDetectors/AFP
ForwardDetectors/LUCID
ForwardDetectors/ZDC
HighGranularityTimingDetector
HLT
InnerDetector
LumiBlock
MagneticField
MuonSpectrometer
Reconstruction
# legacy EDM, too many warnings:
-Reconstruction/Jet/JetEvent
Simulation
TileCalorimeter
Tools
-Tools/LWHists
Tracking
# see ATLASRECTS-7250:
-Tracking/TrkAlgorithms/TrkTrackCollectionMerger
Trigger
-Trigger/TrigAnalysis/TrigInDetAnalysisUser
-Trigger/TrigAnalysis/TrigInDetAnalysisExample
