######################################################################
# file  collisions_run.config Tue Jan 23 10:58:49 2018 khamano
######################################################################

#######################
# HLTidtrk
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
		output TRMET {
			output Shifter {
				output ${l1algs} {
				}
			}
		}
	}
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir METMon {
		algorithm = HLTmet_Histogram_Not_Empty&GatherData
		display   = StatBox
                description = ""
		dir Shifter {
                        dir (?P<l1algs>L1_.*) {
                                regex = 1
                                output = HLT/TRMET/Shifter/${l1algs}
                                hist L1_.* {
                                }
                        }
		}
	}
}


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

