###########################################################
# sTG
###########################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output STG {
      output Shifter {
       output Overview { 
       }
       output Lumiblock {
         output Strip {
          output Q1 {
          }
          output Q2 {
          }
          output Q3 {
          }
         }
         output Pad {
          output Q1 {
          }
          output Q2 {
          }
          output Q3 {
          }
         }
         output Wire {
          output Q1 {
          }
          output Q2 {
          }
          output Q3 {
          }
         }
       }
       output Occupancy {
         output Strip {
         }
         output Pad {
         }
         output Wire {
         }
       }
       output Timing {
         output Strip {
         }
         output Pad {
         }
         output Wire {
         }
       }
      }
      output Expert {
       output Occupancy {
         output Strip {
         }
         output Pad {
         }
         output Wire {
         }
       }
       output Timing {
         output Strip {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
         }
         output Pad {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
         }
         output Wire {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
         }
       }
       output Residuals { 
         output Overview { 
         }
         output ${occ_anysector} { 
         } 
       }
       output Charge { 
         output ${occ_anysector} {
          output Strip {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
          }
          output Pad {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
          }
          output Wire {
           output Q1 {
           }
           output Q2 {
           }
           output Q3 {
           }
          }
         }
       }
       output Efficiency { 
        output ${occ_anysector} {
        }
       }
      }
   }
  }
}

#######################
# Histogram Assessments
#######################
dir Muon {

  dir MuonRawDataMonitoring {
    #reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences

    dir STG {
      
      dir Shifter { 
       dir Overview { 
        regex = 1 
        hist Strip_cluster_size_ontrk_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Overview
          algorithm = CheckMean_stg&CheckRMS_stg
          display = LogZ,Draw=COLZ
        }
        hist Strip_cluster_timing_ontrk_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Overview
          algorithm = CheckMean_stg&CheckRMS_stg
          display = LogZ,Draw=COLZ
        }
       }
       dir Occupancy { 
        regex = 1 
        dir Pad { 
         hist Pad_quad_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Occupancy/Pad
          display = LogZ,Draw=COLZ
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Strip {
         hist Strip_quad_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Occupancy/Strip
          display = LogZ,Draw=COLZ
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Wire {
         hist Wire_quad_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Occupancy/Wire
          display = LogZ,Draw=COLZ
          algorithm = stgc_Histogram_Not_Empty
         }
        }
       }
       dir Lumiblock {
        regex = 1
        dir Pad {
         dir Q1 {
          hist Nhits_all_pad_in_sector_per_LB_in_Q1_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Pad/Q1
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q2 {
          hist Nhits_all_pad_in_sector_per_LB_in_Q2_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Pad/Q2
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q3 {
          hist Nhits_all_pad_in_sector_per_LB_in_Q3_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Pad/Q3
           algorithm = stgc_Histogram_Not_Empty
          }
         }
        }
        dir Strip {
         dir Q1 { 
          hist Nhits_all_strip_in_sector_per_LB_in_Q1_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Strip/Q1
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q2 {
          hist Nhits_all_strip_in_sector_per_LB_in_Q2_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Strip/Q2
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q3 {
          hist Nhits_all_strip_in_sector_per_LB_in_Q3_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Strip/Q3
           algorithm = stgc_Histogram_Not_Empty
          }
         }
        }
        dir Wire {
         dir Q1 {
          hist Nhits_all_wire_in_sector_per_LB_in_Q1_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Wire/Q1
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q2 {
          hist Nhits_all_wire_in_sector_per_LB_in_Q2_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Wire/Q2
           algorithm = stgc_Histogram_Not_Empty
          }
         }
         dir Q3 {
          hist Nhits_all_wire_in_sector_per_LB_in_Q3_Layer*[12345678] {
           output = MuonDetectors/STG/Shifter/Lumiblock/Wire/Q3
           algorithm = stgc_Histogram_Not_Empty
          }
         }
        }
       }
       dir Timing {
        regex = 1
        dir Pad {
         hist All_pad_timing_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Timing/Pad
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Strip {
         hist All_strip_timing_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Timing/Strip
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Wire {
         hist All_wire_timing_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Shifter/Timing/Wire
          algorithm = stgc_Histogram_Not_Empty
         }
        }
       }
      }
      dir Expert { 
       dir Occupancy {
        regex = 1
        dir Pad {
         hist Pad_ch_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Expert/Occupancy/Pad
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Strip {
         hist Strip_ch_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Expert/Occupancy/Strip
          algorithm = stgc_Histogram_Not_Empty
         }
        }
        dir Wire {
         hist Wire_ch_occupancy_per_sector_Layer*[12345678] {
          output = MuonDetectors/STG/Expert/Occupancy/Wire
          algorithm = stgc_Histogram_Not_Empty
         }
        }
       }
       dir Timing {
        regex = 1
        dir Pad {
         dir Q1 {
           hist All_pad_timing_in_Q1_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Pad/Q1
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q2 {
           hist All_pad_timing_in_Q2_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Pad/Q2
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q3 {
           hist All_pad_timing_in_Q3_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Pad/Q3
             algorithm = stgc_Histogram_Not_Empty
           }
         }  
        }
        dir Strip {
         dir Q1 {
           hist All_strip_timing_in_Q1_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Strip/Q1
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q2 {
           hist All_strip_timing_in_Q2_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Strip/Q2
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q3 {
           hist All_strip_timing_in_Q3_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Strip/Q3
             algorithm = stgc_Histogram_Not_Empty
           }
         }
        }
        dir Wire {
         dir Q1 {
           hist All_wire_timing_in_Q1_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Wire/Q1
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q2 {
           hist All_wire_timing_in_Q2_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Wire/Q2
             algorithm = stgc_Histogram_Not_Empty
           }
         }
         dir Q3 {
           hist All_wire_timing_in_Q3_Layer*[12345678] {
             output = MuonDetectors/STG/Expert/Timing/Wire/Q3
             algorithm = stgc_Histogram_Not_Empty
           }
         } 
        }
       }
       dir Residuals {
        regex = 1 
        algorithm = stgc_Histogram_Not_Empty 
        dir (?P<occ_anysector>[AC][0-9]{2}) { 
         dir Q1 { 
          hist Residuals_in_Q1_Layer[1-8] {
           output = MuonDetectors/STG/Expert/Residuals/${occ_anysector}
          }
         }
         dir Q2 {
          hist Residuals_in_Q2_Layer[1-8] {
           output = MuonDetectors/STG/Expert/Residuals/${occ_anysector}
          }
         }
         dir Q3 {
          hist Residuals_in_Q3_Layer[1-8] {
           output = MuonDetectors/STG/Expert/Residuals/${occ_anysector}
          }
         }
  
        }
       }
       dir Charge { 
        regex = 1 
        algorithm = stgc_Histogram_Not_Empty
        dir (?P<occ_anysector>[AC][0-9]{2}) {
         dir Pad { 
          dir Q1 { 
           hist All_pad_charge_in_Q1_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Pad/Q1     
           }
          }
          dir Q2 {
           hist All_pad_charge_in_Q2_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Pad/Q2
           }
          }
          dir Q3 {
           hist All_pad_charge_in_Q3_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Pad/Q3
           }
          }
         }
         dir Strip {
          dir Q1 {
           hist All_strip_charge_in_Q1_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Strip/Q1
           }
          }
          dir Q2 {
           hist All_strip_charge_in_Q2_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Strip/Q2
           }
          }
          dir Q3 {
           hist All_strip_charge_in_Q3_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Strip/Q3
           }
          }
         }
         dir Wire {
          dir Q1 {
           hist All_wire_charge_in_Q1_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Wire/Q1
           }
          }
          dir Q2 {
           hist All_wire_charge_in_Q2_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Wire/Q2
           }
          }
          dir Q3 {
           hist All_wire_charge_in_Q3_Layer[1-8] {
            output = MuonDetectors/STG/Expert/Charge/${occ_anysector}/Wire/Q3
           }
          }
         }
        }
       }
      }
    }
  } 
}
 
#############
# Algorithms
#############

algorithm stgc_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm stgc_GatherData {
  name = GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

compositeAlgorithm CheckMean_stg&CheckRMS_stg {
  libnames = libdqm_algorithms.so
  subalgs = CheckHisto_Mean,CheckHisto_RMS
}

algorithm CheckMean_stg&CheckRMS_stg {
  name = CheckMean_stg&CheckRMS_stg
  CheckHisto_Mean|thresholds = CheckMean
  CheckHisto_RMS|thresholds = CheckRMS
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  #MinStat = 500
}
  

##############
##thresholds
##############

thresholds CheckMean {
  limits YMean {
   warning = 10
   error = 100
  }
}

thresholds CheckRMS {
  limits YRMS {
   warning = 100
   error = 1000
  }
}
