######################################################################
# file: collisions_run.config
######################################################################

#######################
# HLTminbias
#######################

#######################
# References
#######################

reference HLTminbias_Ref {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = r13759.HIST_run3.root
  path = run_360026
  info = Run 360026
  #From ATR-25829
  name = same_name
}

#######################
# Output
#######################

output top_level {
  algorithm = TRMBI_SimpleSummary

  output HLT {
    output TRMBI {
      output Shifter {
        output SpacePoints {
          output ${shifter_sp_chain} {
          }
        }

        output Tracking {
          output ${shifter_sptrk_chain} {
          }
        }

        output MBTS {
          output ${shifter_mbts_chain} {
          }
        }

        output AFP {
          output Jets {
            output ${shifter_afpjet_chain} {
              output ${shifter_afpjet_container} {
              }
            }
          }
        }

        output Efficiencies {
        }
      }

      output Expert {
        output Counts {
        }

        output SpacePoints {
          output ${expert_sp_chain} {
          }
        }

        output Tracking {
          output ${expert_sptrk_chain} {
          }
        }

        output MBTS {
          output ${expert_mbts_chain} {
          }
        }

        output AFP {
          output Jets {
            output ${expert_afpjet_chain} {
              output ${expert_afpjet_container} {
              }
            }
          }
        }

        output Efficiencies {
        }
      }
    }
  }
}

dir HLT {
  dir MinBiasMon {
    algorithm = HLTminbias_Histogram_Not_Empty&GatherData

    ## Shifter histograms from MinBiasMon
    dir Shifter {
      dir SpacePoints {
        dir (?P<shifter_sp_chain>.*) {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Shifter/SpacePoints/${shifter_sp_chain}
          }
        }
      }

      dir Tracking {
        dir (?P<shifter_sptrk_chain>.*) {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Shifter/Tracking/${shifter_sptrk_chain}
          }
        }
      }

      dir EffAll {
        hist (.*) {
          regex = 1

          output = HLT/TRMBI/Shifter/Efficiencies
        }
      }
    }

    ## Expert histograms from MinBiasMon
    dir Expert {
      dir SpacePoints {
        dir (?P<expert_sp_chain>.*) {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Expert/SpacePoints/${expert_sp_chain}
          }
        }
      }

      dir Tracking {
        dir (?P<expert_sptrk_chain>.*) {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Expert/Tracking/${expert_sptrk_chain}
          }
        }
      }

      dir EffAll {
        hist (.*) {
          regex = 1

          output = HLT/TRMBI/Expert/Efficiencies
        }
      }
    }

    dir Counts {
      hist (.*) {
        regex = 1

        output = HLT/TRMBI/Expert/Counts
      }
    }
  }

  dir MBTSMon {
    algorithm = HLTminbias_Histogram_Not_Empty&GatherData

    ## Shifter histograms from MBTSMon
    dir Shifter {
      dir (?P<shifter_mbts_chain>.*) {
        regex = 1

        hist (.*) {
          output = HLT/TRMBI/Shifter/MBTS/${shifter_mbts_chain}
        }
      }
    }

    ## Expert histograms from MBTSMon
    dir Expert {
      dir (?P<expert_mbts_chain>.*) {
        regex = 1

        hist (.*) {
          output = HLT/TRMBI/Expert/MBTS/${expert_mbts_chain}
        }
      }
    }
  }

  dir FwdAFP {
    algorithm = HLTminbias_Histogram_Not_Empty&GatherData

    hist counts {
      display = LogY
      output = HLT/TRMBI/Expert/AFP
    }

    ## Shifter histograms from FwdAFP
    dir Shifter {
      dir Jet {
        dir Eff {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Shifter/Efficiencies
          }
        }

        dir (?P<shifter_afpjet_chain>HLT_.*) {
          regex = 1

          dir (?P<shifter_afpjet_container>.*) {
            hist (.*) {
              output = HLT/TRMBI/Shifter/AFP/Jets/${shifter_afpjet_chain}/${shifter_afpjet_container}
            }
          }
        }
      }
    }

    ## Expert histograms from FwdAFP
    dir Expert {
      dir Jet {
        dir Eff {
          regex = 1

          hist (.*) {
            output = HLT/TRMBI/Expert/Efficiencies
          }
        }

        dir (?P<expert_afpjet_chain>HLT_.*) {
          regex = 1

          dir (?P<expert_afpjet_container>.*) {
            hist (.*) {
              output = HLT/TRMBI/Expert/AFP/Jets/${expert_afpjet_chain}/${expert_afpjet_container}
            }
          }
        }
      }
    }
  }
}

##############
# Algorithms
##############

compositeAlgorithm HLTminbias_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  name = HLTminbias_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
}

algorithm TRMBI_SimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}
