# **********************************************************************
# $Id: heavyions_run.config 782060 2016-11-03 08:52:06Z kwozniak $
#***********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

#no reference file for now
#reference HLTminbias_Ref {
#  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions//
#  file = data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
#  path = run_200805
#  name = same_name
#}

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output Shifter {
      }

      output Expert {
        output MinBias {
          output EffAll {
          }

          output Counts {
          }

          output SpacePoints {
            output ${mb_trigger} {
            }
          }

          output Tracking {
            output ${mb_trigger} {
            }
          }
        }

        output MBTS {
          output ${mbts_trigger} {
          }
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  dir MinBiasMon {
    algorithm = HLTminbias_Histogram_Not_Empty&GatherData

    ## Shifter histograms from MinBiasMon
    dir Tracking/HLT_mb_sptrk_L1MBTS_1_VTE5 {
      hist trkPt@Shifter0 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta@Shifter0 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPhi@Shifter0 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPt_vs_trkEta@Shifter0 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta_vs_trkPhi@Shifter0 {
        output = HLT/TRMBI/Shifter
      }
    }

    dir Tracking/HLT_mb_sptrk_L1RD0_FILLED {
      hist trkPt@Shifter1 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta@Shifter1 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPhi@Shifter1 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPt_vs_trkEta@Shifter1 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta_vs_trkPhi@Shifter1 {
        output = HLT/TRMBI/Shifter
      }
    }

    dir Tracking/HLT_mb_sptrk_L1MBTS_1_VTE5 {
      hist trkPt@Shifter2 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta@Shifter2 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPhi@Shifter2 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPt_vs_trkEta@Shifter2 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta_vs_trkPhi@Shifter2 {
        output = HLT/TRMBI/Shifter
      }
    }

    dir Tracking/HLT_mb_sptrk_L1VTE50 {
      hist trkPt@Shifter3 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta@Shifter3 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPhi@Shifter3 {
        output = HLT/TRMBI/Shifter
      }

      hist trkPt_vs_trkEta@Shifter3 {
        output = HLT/TRMBI/Shifter
      }

      hist trkEta_vs_trkPhi@Shifter3 {
        output = HLT/TRMBI/Shifter
      }
    }

    dir SpacePoints/HLT_mb_sp300_trk20_hmt_L1TE3_VTE50 {
      hist PixBarr_SP@Shifter4 {
        output = HLT/TRMBI/Shifter
      }

      hist PixECA_SP@Shifter4 {
        output = HLT/TRMBI/Shifter
      }

      hist PixECC_SP@Shifter4 {
        output = HLT/TRMBI/Shifter
      }

      hist SctTot@Shifter4 {
        output = HLT/TRMBI/Shifter
      }
    }

    ## Expert histograms from MinBiasMon
    dir EffAll {
      hist (.*) {
        regex = 1
        output = HLT/TRMBI/Expert/MinBias/EffAll
      }
    }

    dir Counts {
      hist (.*) {
        regex = 1
        output = HLT/TRMBI/Expert/MinBias/Counts
      }
    }

    dir SpacePoints {
      dir (?P<mb_trigger>.*) {
        regex = 1

        hist (.*) {
          output = HLT/TRMBI/Expert/MinBias/SpacePoints/${mb_trigger}
        }
      }
    }

    dir Tracking {
      dir (?P<mb_trigger>.*) {
        regex = 1

        hist (.*) {
          output = HLT/TRMBI/Expert/MinBias/Tracking/${mb_trigger}
        }
      }
    }
  }

  dir MBTSMon {
    algorithm = HLTminbias_Histogram_Not_Empty&GatherData

    ## Shifter histograms from MBTSMon
    dir HLT_mb_mbts_L1RD0_FILLED {
      hist MBTS_time_vs_MBTS_channelID@Shifter {
        output = HLT/TRMBI/Shifter
        description = All channels should have non-zero entries
      }

      hist MBTS_energy_vs_MBTS_channelID@Shifter {
        output = HLT/TRMBI/Shifter
        description = All channels should have non-zero entries
      }

      hist MBTS_counts_per_channel@Shifter {
        output = HLT/TRMBI/Shifter
        description = All channels should have non-zero entries
      }
    }

    ## Expert histograms from MBTSMon
    hist TrigCounts {
      output = HLT/TRMBI/Expert/MBTS
    }

    dir (?P<mbts_trigger>.*) {
      regex = 1

      hist (.*) {
        output = HLT/TRMBI/Expert/MBTS/${mbts_trigger}
      }
    }
  }
}

##############
# Algorithms
##############

compositeAlgorithm HLTminbias_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  name = HLTminbias_Histogram_Not_Empty&GatherData
  # reference = HLTminbias_Ref
}
