######################################################################
# $Id: collisions_run.config Tue Mar 22 12:39:16 2022 enagy $
######################################################################

#######################
# HLTbjet
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
				output Offline {
				}
				output ${chain} {
				}
			}
			output Expert {
				output ${chain} {
				}
			}
		}
	}
}


########################
# References
########################

#reference BjetMCRef {
#         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_07032015.root
##         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_05162015.root
##         file = /afs/cern.ch/user/e/enagy/han_collision_MC/DataQuality/DataQualityConfigurations/config/BjetRef.root
##         file = BjetRef.root
#         path = run_222525
#         name = same_name
#}


###########################
# Algorithms 
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
        libname = libdqm_algorithms.so
        name = HLT_Histogram_Not_Empty&GatherData
	#reference = HLT_local_reference
        reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

# KolmogorovTest method: scale histograms first
algorithm HLTbjet_HistKolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = HLTbjet_HistKolmogorovTest_MaxDist_Threshold
  MinStat = -1
  #reference = HLT_local_reference
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

# Chi2 test                                                                                                                                     
algorithm HLTbjet_HistChi2Test_Chi2_per_NDF {
  libname = libdqm_algorithms.so
  name = Chi2Test_Chi2_per_NDF
  thresholds = HLTbjet_HistChi2Test_Chi2_per_NDF_Threshold
  #reference = HLT_local_reference                                                                                                                                                  
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}


###############
# Thresholds
###############


thresholds HLTbjet_HistKolmogorovTest_MaxDist_Threshold {
  limits MaxDist {
    warning = 0.1
    error = 0.5
  }
}

thresholds HLTbjet_HistChi2Test_Chi2_per_NDF_Threshold {
  limits Chi2_per_NDF {
    warning = 1.0
    error = 1.5
  }
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir BjetMon {
        algorithm   	= HLTbjet_HistChi2Test_Chi2_per_NDF
        description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        display     	= StatBox
		dir Shifter {
			dir Offline {
                output      	= HLT/TRBJT/Shifter/Offline
				hist Off_.* {
                    regex = 1
				}
			}
			dir (?P<chain>HLT_.*) {
                regex           = 1
                output      	= HLT/TRBJT/Shifter/${chain}
				hist .* {
                }
			}
		}
		dir Expert {
			dir (?P<chain>HLT_.*) {
                regex           = 1
                output      	= HLT/TRBJT/Expert/${chain}
				hist .* {
                }
			}
		}
	}
}

