#######################
# References
#######################

reference CentrallyManagedReferences {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data17_5TeV.00340814.express_express.merge.HIST.r14965_p5846_p5846_p5846__HIST.34733349._000001.pool.root.1
  path = run_340814
  info = Run 340814, express
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_Main {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data17_5TeV.00340814.physics_Main.merge.HIST.r14965_p5846_p5846_p5846__HIST.34733342._000001.pool.root.1
  path = run_340814
  info = Run 340814, physics_Main
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_Trigger {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data18_hi.00367273.physics_EnhancedBias.merge.HIST.r14966.root
  path = run_367273
  info = Run 367273, EnhancedBias
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_TriggerMain {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data18_hi.00367273.physics_EnhancedBias.merge.HIST.r14966.root
  path = run_367273
  info = Run 367273, EnhancedBias
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_UPC {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data22_hi.00440101.physics_UPC.merge.HIST.r14960_p5815_p5815_p5815__HIST.34751058._000001.pool.root.1
  path = run_440101
  info = Run 440101, physics_UPC
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_TriggerUPC {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data18_hi.00367365.physics_EnhancedBias.merge.HIST.r14972.root
  path = run_367365
  info = Run 367365, physics_EnhancedBias
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_HardProbes {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data18_hi.00365678.physics_HardProbes.merge.HIST.f1021_h331._0001.1
  path = run_365678
  info = Run 365678, physics_HardProbes
  #database = heavyions
  name = same_name
}

reference CentrallyManagedReferences_TriggerHardProbes {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = data18_hi.00367273.physics_EnhancedBias.merge.HIST.r14966.root
  path = run_367273
  info = Run 367273, EnhancedBias
  #database = heavyions
  name = same_name
}


####################
# Common Algorithms
####################

algorithm WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

algorithm Histogram_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Empty
}

algorithm Histogram_Effective_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Effective_Empty
}

algorithm Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

algorithm No_UnderFlows {
  libname = libdqm_algorithms.so
  name = No_UnderFlows
}

algorithm No_OverFlows {
  libname = libdqm_algorithms.so
  name = No_OverFlows
}

algorithm All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
}

algorithm GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

compositeAlgorithm CheckRMS&Histogram_Not_Empty {
  subalgs = CheckHisto_RMS,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm CheckMean&Histogram_Not_Empty {
  subalgs = CheckHisto_Mean,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm BinsNotThreshold&Histogram_Not_Empty {
  subalgs = Bins_NotEqual_Threshold,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm CheckHisto_Mean&GatherData {
  subalgs = GatherData,CheckHisto_Mean
  libnames = libdqm_algorithms.so
}

compositeAlgorithm GatherData&Chi2NDF {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Chi2Test_Chi2_per_NDF
}

#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
}
